html {
    font-size: 16px;
}

body {
    background-image: url(../images/photo_stack2.jpg);
    background-size: contain;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /*border: 1px dotted black;*/
}

* {
    /*border: 1px dotted black;*/
    
}

header {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

header > *, footer {
    font-family: verdana;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: orange;
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a, a:visited {
    text-decoration: none;
    text-decoration-style: none;
    color: aqua;
}

a:hover {
    background-color: saddlebrown;
    color: magenta;
    border-radius: 5%;
}

.gallery ul {
    list-style: none;
}

.gallery li {
    display: inline-block;
    align-self: center;
}

img {
    border: 5px solid brown;
    border-radius: 5%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#picture_1 {
	width: 100px;
	height: 100px;
}

#picture_2 {
	width: 200px;
	height: 200px;
}

#picture_3 {
	width: 300px;
	height: 300px;
}

#picture_4 {
	width: 400px;
	height: 400px;
}
#picture_5 {
	width: 500px;
	height: 500px;
}

#picture_6 {
	width: 600px;
	height: 600px;
}

#last {
    margin-top: 10px;
    min-height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}
